* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
  width: 100%;
  min-height: 100vh;
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:10px;
}

.navbar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 100, 117);
  position: fixed;
  padding: 0px 5px;
  left: 0;
  top:0;
}

.navbar h1{
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-right: 30px;
    text-transform: uppercase;
    transition: 0.2s;
    margin-left: 50px;
    cursor: pointer;
}

.navbar a:hover{
  color: gold;
}

.input-check {
    display: none;
}

.icon {
    display: none;
} 

.main-content{
  display:flex;
  justify-content: center;
  align-items: center;
}

.content{
  margin-top: 14%;
  color: white;
  max-width:620px;
  line-height: 1.5;
  text-align: center;
}

.content p{
  font-weight: bold;
}

.box-btn {
    width: 180px;
    height: 45px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #2d6475;
    color: white;
    transition: 0.3s ease;
    margin-bottom: 20px;
}


.box-btn:hover {
    background-color: gold;
    color: black;
    transform: scale(1.05);
}

/* Hero Section */
.services-heading {
  padding: 100px 20px 60px;
  text-align: center;
  background: linear-gradient(to right, #f8fbff, #e3edf7);
  }

.services-heading h1 {
  font-size: 40px;
  color: #2d6475;
  margin-bottom: 10px;
}

.services-heading p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

/* Services Section */
.services-section {
  padding: 60px 10%;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.service img {
  width: 400px;
  height: 210px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.service h2 {
  font-size: 28px;
  color: #2d6475;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}


/* Footer */
.main-container {
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

hr {
    border-color: rgb(65, 61, 61);
}

.container1 {
    width: 300px;
    height: 165px;
}

.container1 a {
    display: flex;
    text-decoration: none;
    color: black;
}
.container1 a,p{
    line-height: 1.8;
}

.rights {
    text-align: center;
     background: linear-gradient(to right, #e3e6e9, #c3cfe2);
    font-size: 15px;
    font-weight: bold;
}



/* Navbar Mobile Responsiveness */
@media screen and (max-width: 700px) {
    .navbar {
        position: relative;
    }

    .sub-navbar {
        background-color: grey;
        position: absolute;
        top: 50px;
        left: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        transition: all 1s ease-in-out;
    }

    .icon {
        display: block;
    }

    .input-check:checked ~ .sub-navbar {
        left: 0px;
    }

    .services-heading {
    padding: 40px 20px 40px;
}
    .service {
    flex-direction: column;
    text-align: center;
  }
  
}





/* Tab responsive */
@media screen and (max-width: 1100px) {
   .box {
    min-height: 550px;
    background-position: center;
  }

  .content h1 {
    font-size: 35px;
    top: 30%;
    padding: 0 15px;
  }

  .content p {
    font-size: 14px;
    top: 48%;
    padding: 0 15px;
    max-width: 90%;
  }

  .btn-group {
    top: 65%;
    flex-direction: column;
    gap: 10px;
  }

  .box-btn {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
    .navbar {
        position: relative;
    }

    .sub-navbar {
        background-color: grey;
        position: absolute;
        top: 50px;
        left: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        transition: all 1s ease-in-out;
    }

    .icon {
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    .input-check:checked ~ .sub-navbar {
        left: 0px;
    }

    /* section container */
    .services-heading{
    padding: 30px 10px 30px;
    }

    .service {
  flex-direction: column;
}
   .service img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

}
